@model List<Od34.Models.PostModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row row-flex">
    @foreach (Od34.Models.PostModel post in Model)
    {
        @Html.Partial("_PostItem", post._post_entity);
    }   
</div>